<!DOCTYPE html>
<html lang="en">

<head>
	<title>Sách admin login</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" href="/css/maruti-login.css" />
</head>
<body>
	<div id="loginbox">    

		<form id="loginform" class="form-vertical" action="/login" method="post">
			
			<div class="control-group normal_text"> <h3><img src="/img/logo.png" alt="Logo" /></h3></div>
			<br/>
			{{#if message}}
			<div class="control-group mini_text" style="font-size: 14">
				{{message}}
			</div>
			{{/if}} 
			
			
			<div class="control-group">
				<div class="controls">
					<div class="main_input_box">
						<span class="add-on"><i class="icon-user"></i></span><input type="text" placeholder="Username" name="username" required="Username is required!" />
					</div>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<div class="main_input_box">
						<span class="add-on"><i class="icon-lock"></i></span><input type="password" placeholder="Password"  name="password" required="Password is required!" />
					</div>
				</div>
			</div>
			<div class="form-actions">

				<span class="pull-right"><input type="submit" class="btn btn-success" value="Login" /></span>
			</div>
		</form>
	</div>

	<script src="js/jquery.min.js"></script>  
	<script src="js/maruti.login.js"></script> 
</body>

</html>
